html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1')
        meta(name='description' content='Sławek Trubiłowicz Portfolio. Website presenting Sławek`s projects, abilities, history of education and short personality description')
        meta(name='keywords' content='HTML, CSS, javascript, frontend developer, web developer, young, IT specialist, Sławek Trubiłowicz, portfolio, vue.js')
        meta(name='author' content='Sławek Trubiłowicz')
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
        title
            | Portfolio - Sławomir Trubiłowicz
    body
        div#holder
            div#app
            div#particles-js
        script(src="https://smtpjs.com/v3/smtp.js") 
        script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
        script(src="https://kit.fontawesome.com/e9724ea0ac.js" crossorigin="anonymous")
